.faq-page-header {
  position: relative;
  background-image: url("../img/faq-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.45)), color-stop(100%, rgba(0, 0, 0, 0.65)), color-stop(85%, transparent));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65) 100%, transparent 85%);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  height: 100%;
}