@use '../abstracts' as *;

.about {
  display: flex;
  height: 600px;
  font-family: 'Lato', sans-serif;

}

.about-txt {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-h {
  display: inline-block;
  text-transform: uppercase;
  width:210px;
  font-size: 40px;
  color: $blue;
  border-bottom: 1px solid $grey;
  padding: 0 0 25px 0;
  margin: 0 0 20px 70px;
}

.about-line {
  width: 100px;
  height: 1px;
}

.about-p {
  margin: 12px 40px 12px 70px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.25px;
}

.about-img {
  flex-basis: 45%;
  background-image: url(../img/notepad.png);
}

.bold {
  font-weight: 600;
}
