.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.contact-form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.first { }

.last {}

.email {
  width: 100%;
}

.subject {
    width: 100%;
}

.message {
    width: 100%;
}
