@use '../abstracts' as *;

.contact-page-header {
  position: relative;
  background-image: url("/img/contact-us-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100px;
  @include mq(md){
    min-height:  200px;
  }
  @include mq(lg){
    min-height: 300px;
  }
  margin-bottom: 4rem;
}

.contact-pg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'lato', sans-serif;
  flex-direction: column;
  // align-items: center;
  // height: auto;
  @include mq(sm) {
    flex-direction: row;
    align-items: flex-start;
  }
}

// Leaflet.js map

.map-title {
  margin: 15px 10px 10px 10px;
  width: fit-content;
  box-sizing: border-box;
  font-size: 30px;
}

.map-wrapper {
  width: 100%;
  color: $white;
  background-color: lighten($blue, 15%);
  margin-top: 15px;
  border-radius: 5px;
  @include mq(sm) {
    margin: 15px 15px 79px 0;
  }
}

#mapid {
  width: 100%;
  height: 300px;
  max-height: none;
  border-radius: 5px;
  margin-top: 15px;
  border: 10px lighten($blue, 15%) solid;
}

b {
  font-weight: 600;
  text-align: center;
}

.map-info {
  margin: 10px 10px 25px 10px;
}

.map-p {
  line-height: 20px;
}

.map-p > a {
  text-decoration: none;
  color: white;
}

// Form Styles Start:

.form-wrapper {
  width: 100%;
  background-color: lighten($blue, 15%);
  border-radius: 5px;
  margin: 15px 0;
  padding: 5px;
  font-family: 'lato', sans-serif;
  @include mq(sm) {
    width: 600px;
    height: 630.94px;
  }
}

.contact-h1 {
  @include mq(sm) {
    // margin-top: ;
    margin-bottom: 30px;
  }
}

.txt-box {
  @include mq(sm) {
    // margin-top: ;
    margin-bottom: 30px;
  }

}

.contact-form {
  @include mq(sm) {
    // margin-top: ;
    // margin-bottom: ;
  }
}

.contact-p {
  @include mq(sm) {
    // margin-top: ;
    // margin-bottom: ;
  }
}

.btn-tickbox-wrapper {

}

/// Form Text

.txt-box {
  flex-basis: 100%;
  color: $white;
  padding: 10px;
}

.contact-h1 {
  font-size: 30px;
  padding-bottom: 15px;
}

.contact-p {
  font-size: 17px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-form {
  display: flex;
  width: 100%;
  padding: 5px;
  height: 45px;
  flex-wrap: nowrap;
}

.input::placeholder {
  color: $blue;
}
.input:focus::placeholder {
  color: transparent;
}

.input {
  box-sizing: border-box;
  flex-basis: 100%;
  outline: none;
  border-style: none;
  border-radius: 3px;
  box-shadow: inset 0 0 5px $grey;
  padding: 10px;
  width: 100%;
  height: 35px;
  background-color: $white;
  color: $blue;
}

.first-name,
.last-name {
  flex-basis: 50%;
  width: 50%;
}
.first-name {
  margin-right: 5px;
}
.last-name {
  margin-left: 5px;
}

.form-top,
.form-bottom {
  height: 50px;
}

.form-top {
  padding: 10px 5px 5px 5px;
  height: 50px;
}

.form-bottom {
  padding: 5px 5px 10px 5px;
}

.form-button {
  align-items: center;
  background-color: #00829b;
  border-radius: 5px;
  color: $white;
  border: $white 2px solid;
  padding: 5px 20px;
  margin-left: 10px;
  height:40px;
  @include mq(xs) {
    padding: 10px 20px;
    font-size: 1em;
  }
}

.btn-tickbox-wrapper {
display: flex;
align-items: center;
margin: 20px 0px;
@include mq(sm) {
  margin-top: 30px;
  // margin-bottom: ;
}
@include mq(md) {
  margin-top: 50px;
  // margin-bottom: ;
}
}

.tickbox-wrapper {
display: flex;
align-items: center;
padding-left: 15px;
}

.tb-txt-wrapper {
  padding-left: 5px;
}

.tb-label {
  font-size: 15px;
  color: $white;
}

.tb-label br {
  display: none;
  @include mq(md) {
    display: inline-block;
  }
}

.form-button:hover {
  cursor: pointer;
  background-color: $white;
  color: $blue;
}
