@use "../abstracts" as *;

.faq-page-header {
  position: relative;
  background-image: url("../img/faq-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
                  to right,
                  rgb(0, 0, 0, 0.45),
                  rgba(0, 0, 0, 0.65) 100%,
                  transparent 85%
  );
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 2rem;
  font-weight: bold;
  height: 100%;
}

.faqs {
  margin: 4em 0;
  padding: 25px 50px ;
  border-radius: 20px;
  background: lighten($blue, 5%) ;
  color: $white;

}
.faq-item{
  border-bottom: 1px solid $white;
  padding: 1.5rem 0;
  &:last-child {
    border-bottom: none;
  }
  &.open {
    .faq-answer {
      max-height: 300px;
    }
    .faq-icon {
      transform: rotate(90deg);
    }
  }
}
.faq-icon {
  color: $white;
  height: 30px;
  width: 30px;
  transition: 300ms ease-in-out;
}
.faq-answer {
   margin-top: 10px;
   font-size: 1.25rem;
  font-weight: 400;
   max-height: 0;
   line-height: 1.6;
   overflow: hidden;
   transition: all 300ms ease-in-out;

 }
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  cursor: pointer;
}
