@use "../abstracts" as *;

header {
  background: $blue;

  .header {
    height: 115px;
    display: flex;
    background: $blue;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 0;

  }

  .logo img {
    width: 175px;
    height: auto;
    @include mq(md) {
      width: 200px;
    }
    @include mq(lg) {
      width: 300px;
    }
  }

  .header-links {
    display: none;
    color: $white;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    @include mq(sm) {
      display: flex;

    }
    @include mq(md) {
      font-size: 0.975rem;
    }
    @include mq(lg) {
      font-size: 1.25rem;
    }

    a {
      text-decoration: none;
      color: $white;
    }

  }

  .header-link {
    margin-right: 2em;
    position: relative;

    &:last-child {
      margin: 0;
    }

    &:hover::after {
      content: '';
      height: 1px;
      width: 100%;
      bottom: -5px;
      left: 0;
      position: absolute;
      background: $white;
    }
  }

  .phone-icon {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
  }

  .menu-btn {
    height: 2em;
    width: 2em;
    color: $white;
    margin-left: 1em;
    @include mq(sm) {
      display: none;
    }
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    background: lighten($blue, 10%);
    z-index: 10;
  }

  .mobile-header-links {
    color: $white;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $white;
      display: block;
      padding: 0.75em;
    }
  }

  .mobile-header-link {
    margin:  0;
    position: relative;

    &:hover {
      background: lighten($blue, 5%);
    }
  }
}
