@use "../abstracts" as *;

header {
  background: $blue;
}
.header {
  display: flex;
  background: $blue;
  justify-content: center;
  align-items: center;
  padding: 0.5em;

}
.header-links {
  display: none;
  color: #fff;
  justify-content: center;
  align-items: center;
  @include mq(sm){
    display: flex;
  }
}
.header-link {
  margin-right: 2.5em;
}
.menu-btn {
  height: 2em;
  width: 2em;
  color: #ffffff;
  margin-left: 1em;
  @include mq(sm) {
    display: none;
  }
}