@use "../abstracts" as *;
body {
  font-family: 'lato', sans-serif;
}
<<<<<<< HEAD

=======
>>>>>>> origin
.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-right: auto;
   margin-left: auto;
   @include mq(sm) {
     width: 750px;
   }
   @include mq(md) {
     width: 950px;
   }
   @include mq(lg) {
     width: 1200px;
   }
 }
