@use '../abstracts' as *;

.services-page-header {
  position: relative;
  background-image: url("../img/services-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
                  to right,
                  rgb(0, 0, 0, 0.45),
                  rgba(0, 0, 0, 0.65) 100%,
                  transparent 85%
  );
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 2rem;
  font-weight: bold;
  height: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  background: #fff;
  margin: 20px ;
  min-height: 200px;
  padding: 15px;
  border: 2px solid $blue;
  border-radius: 3px;
  h2 {
    font-size: 1.25rem;
}
}
