.tc-page-header {
  position: relative;
  background-image: url("../img/t&c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100px;
  @include mq(md){
    min-height:  200px;
  }
  @include mq(lg){
    min-height: 300px;
  }
}

.tc-container {
  margin: 60px auto;
}

.tc-h2 {
  width: 75ch;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.tc-p {

 font-size: 15px;
 margin-top: 10px;
 @include mq(md){
   width: 75ch;
 }
 @include mq(lg){
 }
}

.tc-ul {

}

.tc-li {
  margin: 10px 0px;
  width: 60ch;
}

.tc-end {
  margin-top: 50px;
  font-size: 20px;
}
